/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	background-color: #282828;

	
	margin: auto;
padding-top:60px;
  padding-bottom: 0rem;
  color: #5a5a5a;
	font-family: 'Ubuntu', sans-serif;
	
}

.navbar {
  min-height: 60px;
	padding: 0px 0px;
	font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  padding: 0px 20px;
  height: 60px;
line-height: 60px;
	font-size: 30px;	
}

.dropdown-menu {
padding: 5px 10px;
top: calc(100% + 8px);
	border-radius: 0;
	}

.btn{
	background-color: #1d3049;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
	width:640px;
	margin:auto;

	
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {

  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing{
	background-color:#FFFFFF;
	padding-top: 50px;
}

.marketing .col-lg-4 {
	
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
	margin-bottom: 60px;/* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
